<!--<table *ngIf="sales; else no_sale_shop">
  <caption>Sales by payment type</caption>
  <thead>
  <td>Payment</td><td>Total</td>
  </thead>
  <tbody>
    <tr *ngFor="let sale of sales">
      <td>{{sale.type}}</td><td>{{sale.total | currency}}</td>
    </tr>
  </tbody>
</table>-->
<ag-grid-angular [ngClass]="(sales) ? 'show': 'hide'"
                 class="ag-theme-material"
                 [gridOptions]="gridOptions"
                 [columnDefs]="columnDefs"
>
</ag-grid-angular>
<button  *ngIf="sales" mat-raised-button class="background-primary text-floral-white"
         (click)="onPrint()">Print</button>
<ng-template *ngIf="!sales">This shop haven't sales yet today</ng-template>

