:host {
  font-size: 18px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

ag-grid-angular {
  width: 400px;
  height: 350px;
}

.show {
  display: initial;
}

.hide {
  display: none;
}
