.my-pagination  ul {
  display: flex;
  padding: 0;
  margin: 5px 10px;
  justify-content: center;
}

.my-pagination  .pagination-previous, .my-pagination  .pagination-next {
  margin: 3px;
  width: 130px;
  height: 85px;
  background-color: #5b4cab;
  color: white;
  font-weight: bold;
  line-height: 24px !important;
  border-radius: 15px !important;
  cursor: pointer;
  outline: 0;
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-pagination .disabled {
  padding: initial;
  cursor: default;
  background-color: #B8B8B8;
}

.my-pagination  .disabled:hover,
.my-pagination  .pagination-previous.disabled a:hover,
.my-pagination  .pagination-next.disabled a:hover{
  background-color: #B8B8B8 !important;
}

.custom-pagination{
  display: flex;
}

.my-pagination  .pagination-previous a:hover, .my-pagination  .pagination-next a:hover {
  background-color: #5b4cab;
}

.my-pagination  .pagination-previous a, .my-pagination  .pagination-next a {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  color: white;
}

