<div #init fxLayout="row" class="container" fxLayoutAlign="space-between">
  <div id="right" fxFlex.lt-lg="54" fxFlex.md="60" fxFlex.lg="64" fxFlex.xl="70" fxLayout="column" fxLayoutAlign="space-between">
    <invoice fxFlex="100" class="border container" fxLayout="column" style="padding: 5px;"></invoice>
  </div>

  <div id="left" fxFlex.lt-lg="46" fxFlex.md="40" fxFlex.lg="35" fxFlex.xl="30" fxLayout="column" fxLayoutAlign="space-between" class="border">
    <div fxLayoutAlign="center center" class="border">
      <slide-promotions [path]="env.myVarForImageURLS" [height]="'350px'"></slide-promotions>
    </div>
    <div fxLayoutAlign="center" fxLayout="column" >
      <slide-announce [path]="env.myVarForImageURLS" [height]="'400px'"></slide-announce>
    </div>
  </div>
</div>
