:host {
  flex-wrap: wrap;
}

.special button[mat-button]{
  background-color: #fff05f;
  border-color: #b6a74a;
  color: black;
  height: 85px;
}

.cards button[mat-button]{
  background-color: #65b3ff;
  border-color: #3f76a3;
  color: black;
  height: 85px;
}

button[mat-button].cash{
  background-color: #1fff9c;
  border-color: #1a9f57;
  color: black;
  height: 170px;
}
