<div oncontextmenu="return false">
  <mat-toolbar color="primary">
    {{title.substring(0, 20)}}
    <span class="flex-spacer"></span>
    <button mat-raised-button mat-dialog-close color="primary">&times;</button>
  </mat-toolbar>
  <form novalidate #productGenericForm="ngForm">
    <mat-dialog-content>
      <p>
        <mat-form-field>
          <input matInput placeholder="{{label}}" type="text" [(ngModel)]="cost" name="price" #price="ngModel"
                 required [maxlength]="maxlength" [max]="max" [size]="maxlength" disabled/>
          <mat-error *ngIf="price.errors?.required">{{label}} is required</mat-error>
        </mat-form-field>
      </p>
      <!--<app-input-price></app-input-price>-->
      <generic-keyboard (evKeys)="getKeys($event)" ></generic-keyboard>
    </mat-dialog-content>
    <!--<mat-dialog-actions>
      <span class="flex-spacer"></span>
      <button mat-raised-button mat-dialog-close>Cancel</button>
      &lt;!&ndash;<button mat-raised-button class="background-primary text-floral-white"
              [disabled]="productGenericForm.form.invalid" (click)="addGenericProd()">Add product</button>&ndash;&gt;
    </mat-dialog-actions>-->
  </form>
</div>
