<div oncontextmenu="return false">
  <mat-toolbar color="primary">
    {{ data.title }}
    <span class="flex-spacer"></span>
    <button mat-raised-button mat-dialog-close color="primary">&times;</button>
  </mat-toolbar>
  <div mat-dialog-content class="content">
    <!--<mat-form-field>
      <mat-label>Admin privileges for Clear and Void:</mat-label>
      <mat-checkbox [(value)] = 'adminClearVoid' (change)="setAdmin4ClearVoid($event)"></mat-checkbox>
    </mat-form-field>-->
    <mat-list>
      <mat-list-item>
        <mat-form-field>
          <mat-label>Inactivity time for Logout (min):</mat-label>
          <mat-select (selectionChange)="setTime4Logout($event)" [(value)] = 'timeLogout'>
            <mat-option>None</mat-option>
            <mat-option value="60">60</mat-option>
            <mat-option value="30">30</mat-option>
            <mat-option value="15">15</mat-option>
            <mat-option value="5">5</mat-option>
            <mat-option value="1">1</mat-option>
            <mat-option value="0.5">0.5</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-slide-toggle [checked]='allowAddProdGen' (change)="setAddProdGen($event)" labelPosition="before"
                          ariaLabel="Add Generic Product for all users">
          Allow to all users add generic product
        </mat-slide-toggle>
      </mat-list-item>
      <mat-list-item>
        <mat-slide-toggle [checked]='allowDeleteProd' (change)="setDeleteProd($event)" labelPosition="before"
                          ariaLabel="Allow delete products from invoice for all users">
          Delete products from invoice only admin users
        </mat-slide-toggle>
      </mat-list-item>
      <!--<mat-list-item>
        <mat-slide-toggle [checked]='allowEBT' (change)="setEBT($event)" labelPosition="before"
                          ariaLabel="Allow EBT Options">
          Allow EBT Options
        </mat-slide-toggle>
      </mat-list-item>
      <mat-list-item>
        <mat-slide-toggle [checked]='allowSplitPayment' (change)="setSplitPayment($event)" labelPosition="before"
                          ariaLabel="Allow split payment">
          Allow split payment
        </mat-slide-toggle>
      </mat-list-item>-->
    </mat-list>
  </div>
  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close [disabled]="loading">Cancel</button>
    <button mat-raised-button [disabled]="loading" class="background-primary text-floral-white" (click)="done()">Done</button>
  </mat-dialog-actions>
</div>
