<form novalidate #loginForm="ngForm" fxFlex="100" fxLayout="column" fxLayoutAlign="space-between">
  <div class="form-field" fxFlex="100" fxLayoutAlign="center center">
    <mat-form-field>
      <input matInput placeholder="Password" type="password" [(ngModel)]="input" autocomplete="new-password"
             name="password" #password="ngModel" required [minlength]="4" (input)="tryValidation = false"/>
      <mat-error *ngIf="password.errors?.required">Password is required</mat-error>
    </mat-form-field>
    <mat-error *ngIf="!valid && tryValidation ">
      <span class="fa fa-warning fa-lg"></span>
      <span class="err-msg">{{errorMsg}}</span>
    </mat-error>
  </div>
  <generic-keyboard (evKeys)="getKeys($event)" [valid]="loginForm.form.invalid" 
    [dirty]="input"></generic-keyboard>
</form>
