<form novalidate #loginForm="ngForm" fxFlex="100" fxLayout="column" fxLayoutAlign="space-between">
  <div class="form-field" fxFlex="60" fxLayoutAlign="start center">
    <mat-form-field >
      <input matInput placeholder="Password" type="password" [(ngModel)]="input"
             name="password" #password="ngModel" required [minlength]="4" (input)="tryValidation = false"/>
      <mat-error *ngIf="password.errors?.required">Password is required</mat-error>
    </mat-form-field>
    <mat-error *ngIf="!valid && tryValidation "><span class="fa fa-warning fa-lg"></span> {{errorMsg}}</mat-error>
  </div>
  <generic-keyboard (evKeys)="getKeys($event)" [valid]="loginForm.form.invalid"></generic-keyboard>
</form>
