[mat-dialog-content] {
  height: 95%;
  max-height: 70vh;

  & ::ng-deep :first-child {
    flex-wrap: wrap;
    overflow: auto;
    //max-height: 350px;
  }
}

button[mat-raised-button] {
  cursor: default !important;
}

div.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}

pos-paginator {
  display: flex;
  align-items: center;
  margin-left: 8px;

  button.filter {
    width: 120px;
    height: 85px;
    background-color: #5b4cab;

    span.fa-search {
      overflow: initial;
    }
  }
}

.paginator {
  display: flex;
  justify-content: center;
}

div[oncontextmenu]{
  height: 98%;
}
