<div oncontextmenu="return false">
  <mat-toolbar color="primary">
    {{ title }}
    <span class="flex-spacer"></span>
    <button mat-raised-button mat-dialog-close color="primary">&times;</button>
  </mat-toolbar>
  <div mat-dialog-content>
    <p>{{ subtitle }}</p>
    <div class="page">
        <!--<button mat-button fxFlex="170px" *ngFor="let i of data | paginate: { itemsPerPage: sizePage, currentPage: page }"
                [mat-dialog-close]="i">
          {{i.receiptNumber }}<p>{{i.total | currency }}</p>
        </button>-->
      <list-invoices [data]="data" [sizePage]="sizePage" [page]="page" [label]="data.label" [detail]="data.detail"
                     [subdetail]="data.subdetail"></list-invoices>
      <div class="paginator">
        <pos-paginator [countElements]="data.invoice.length" [sizePage]="sizePage" (evSetPage)="setPage($event)">
        <!--<button class="filter" mat-button *ngIf="data.invoice.length > sizePage && title !== 'Tables'" (click)="filter()">-->
        <button class="filter" mat-button *ngIf="title !== 'Tables' && data.invoice.length" (click)="filter()">
          <span class="fa fa-search fa-lg"></span> FILTER
        </button>
        </pos-paginator>
      </div>
    </div>
  </div>
</div>
