<div #grid class="page">
  <button mat-button fxFlex="130px" *ngFor="let i of dptos | paginate: { itemsPerPage: sizePage, currentPage: page }"
          (click)="doAction($event, i)"
          [ngClass]="i.generic ? 'generic' : 'normal'" [disabled]="stockService.cashService.disabledInput">
    {{ i.name | uppercase }}
  </button>
</div>
<div class="paginator">
  <pos-paginator [hidden]="stockService.cashService.disabledInput" [countElements]="dptos.length" [sizePage]="sizePage"
                 (evSetPage)="setPage($event)">
    <button class="filter" mat-button (click)="filter()">
      <span class="fa fa-search fa-lg"></span> FILTER
    </button>
  </pos-paginator>
</div>
