@import "~src/variable";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

/*div.page {
  flex-wrap: wrap;
  margin-left: 10px;
  overflow: auto;
  align-items: center;
  justify-content: center;
}*/

.normal {
  @include red;
}

.generic {
  @include orange;
}

div.page {
  flex-wrap: wrap;
  margin-left: 10px;
  overflow: auto;
  align-items: center;
  justify-content: center;
}

pos-paginator {
  display: flex;
  align-items: center;
  margin-left: 8px;

  button.dpto, button.filter {
    width: 120px;
    height: 85px;
    background-color: $dark-violet-background;
  }
}
