:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
  margin: 5px 0;
}

label {
  font-weight: bolder;
  margin-right: 5px;
}

.table {
  display: flex;
  justify-content: center;
}

.description span {
  display: flex;
  margin-top: 5px;
}
