:host {
  flex-wrap: wrap;
  overflow: auto;
  height: 100%;
}

button[mat-button] {

}

.normal {
  background-color: #ed5f5f;
  border-color: #913939;
}

.generic {
  background-color: #ff9b3e;
  border-color: #ffac41;
}
