<div fxLayout="row" class="container" fxLayoutAlign="space-between">
  <div id="shopcarnops" fxFlex="58" fxLayout="column">
    <app-shopping-car #shoppingcar [product]="product" ></app-shopping-car>
    <div fxLayout="row">
      <app-financial-op fxFlex="30"></app-financial-op>
      <app-calculator fxFlex="70" (evKeys)="getKey($event)"></app-calculator>
    </div>
  </div>

  <div id="dptosnprods" fxFlex="41" fxLayout="column" >
    <div class="dptosnprods">
      <router-outlet ></router-outlet>
    </div>
    <div>
      <app-payment-ops></app-payment-ops>
    </div>
  </div>
</div>
