<div fxLayout="row" class="header">
  <info-pos *ngIf="!showDigits" title="Cashier" [value]="cashier" fxFlex="50" class="title-header"></info-pos>
  <input-calculator *ngIf="showDigits" fxFlex="50" class="title-header">
  </input-calculator>
  <info-pos title="Receipt Number" [value]="account" fxFlex="50" align="end" class="title-header"></info-pos>
</div>

<ag-grid class="container" fxFlex="100"></ag-grid>

<div fxLayout="row" class="total">
  <info-pos title="Subtotal" [value]="subtotal" format="currency" fxFlex="25"></info-pos>
  <info-pos title="Tax" [value]="tax" format="currency" fxFlex="25"></info-pos>
  <info-pos title="Total" [value]="total" format="currency" fxFlex="50"></info-pos>
</div>
