<div oncontextmenu="return false">
  <mat-toolbar color="primary">
    {{title + ' - ' + label}}
    <span class="flex-spacer"></span>
    <button mat-raised-button mat-dialog-close color="primary">&times;</button>
  </mat-toolbar>
  <form novalidate #productGenericForm="ngForm">
    <mat-dialog-content>
      <p>
        <mat-form-field>
          <input matInput placeholder="{{label}}" [type]="type" [(ngModel)]="digits" name="price" #price="ngModel"
                 required [minlength]="minlength" [maxlength]="maxlength" [size]="maxlength" disabled [mask]="mask"/>
          <mat-error *ngIf="price.errors?.required">{{label}} is required</mat-error>
        </mat-form-field>
        <mat-error *ngIf="inputErr"><span class="fa fa-warning fa-lg"></span>{{label}} must have between 4 and 10 characters </mat-error>
      </p>
      <!--<app-input-price></app-input-price>-->
      <generic-keyboard (evKeys)="getKeys($event)" ></generic-keyboard>
    </mat-dialog-content>
    <!--<mat-dialog-actions>
      <span class="flex-spacer"></span>
      <button mat-raised-button mat-dialog-close>Cancel</button>
      &lt;!&ndash;<button mat-raised-button class="background-primary text-floral-white"
              [disabled]="productGenericForm.form.invalid" (click)="addGenericProd()">Add product</button>&ndash;&gt;
    </mat-dialog-actions>-->
  </form>
</div>
