mat-dialog-content p {
  display: flex;
  justify-content: space-between;
}

mat-form-field {
  width: 100%;
}

mat-dialog-content {
  max-height: 100%;
}

input {
  padding: 0 10px;
  font-size: xx-large;
}

button[mat-raised-button] {
  /*height: 90%;
  font-size: 46px;*/
  background-color: #9a61ff;
  color: white;
  cursor: default !important;
}
