<div oncontextmenu="return false">
  <mat-toolbar color="primary">
    {{ data.title }}
    <span class="flex-spacer"></span>
    <button mat-raised-button mat-dialog-close color="primary" *ngIf="close()">&times;</button>
  </mat-toolbar>
  <div mat-dialog-content>
    <p class="content">{{ data.content }}</p>
    <p *ngIf="data.content2 !== undefined" class="price">{{ data.content2 | currency }}</p>
  </div>
  <div mat-dialog-actions *ngIf="data.confirm">
    <button mat-raised-button (click)="onConfirm()">Yes</button>
    <button mat-raised-button [mat-dialog-close]>Cancel</button>
  </div>
</div>
