.content {
  font-size: 18px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price {
  font-size: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

[mat-dialog-content] {
  flex-direction: column;
}

[mat-dialog-actions] {
  justify-content: center;
}

/*button[mat-raised-button] {
  cursor: default !important;
}*/
