<label class="employee" *ngIf="emplSel">Employee: {{emplSel.userName}}</label>
<div class="grid" *ngIf="listType === 'grid'">
  <ag-grid-angular [ngClass]="(sales && sales.length > 0 && emplSel) ? 'show': 'hide'"
                  #topGrid
                  class="ag-theme-material"
                  [gridOptions]="gridOptions"
                  [columnDefs]="columnDefs"
                  pagination="true"
                  paginationAutoPageSize="true"
                  [pinnedBottomRowData]="bottomData"
  >
  </ag-grid-angular>
</div>

<div class="button" *ngIf="listType === 'button'">
  <list-invoices [data]="listButtonData" [sizePage]="sizePage" [page]="page" 
                  [label]="listButtonData?.label" [detail]="listButtonData?.detail" 
                  [subdetail]="listButtonData?.subdetail">
  </list-invoices>
  <div class="paginator">
    <pos-paginator [countElements]="listButtonData?.invoice.length" [sizePage]="sizePage" (evSetPage)="setPage($event)">
    </pos-paginator>
  </div>
</div>

<i class="no-sale" *ngIf="sales && sales.length === 0 && emplSel !== undefined">
  This employee haven't sold anything yet today
</i>