<!--<mat-form-field>
  <mat-label>Select a employed:</mat-label>
  <mat-select (selectionChange)="select($event)" [(value)] = 'emplSel'>
    <mat-option>None</mat-option>
    <mat-option *ngFor="let empl of employes" value="{{empl.id}}">{{empl.userName}}</mat-option>
  </mat-select>
</mat-form-field>-->

<ag-grid-angular [ngClass]="(sales && sales.length > 0 && emplSel) ? 'show': 'hide'"
  class="ag-theme-material"
  [gridOptions]="gridOptions"
  [columnDefs]="columnDefs"
>
</ag-grid-angular>
<button [ngClass]="(sales && sales.length > 0 && emplSel) ? 'show': 'hide'" mat-raised-button
          class="background-primary text-floral-white" (click)="onPrint()">Print</button>
<i class="no-sale" *ngIf="sales && sales.length === 0 && emplSel !== undefined">
  This employee haven't sold anything yet today
</i>
