:host {
  font-size: 18px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

ag-grid-angular {
  width: 400px;
  height: 400px;
  margin-bottom: 10px;
}

.show {
  display: initial;
}

.hide {
  display: none;
}
/*table {
  width: 90%;
  margin-left: 30px;
  border-collapse: collapse;

  caption {
    background: lightblue;
    padding: 10px;
  }

  thead {
    background: lightcyan;
    padding: 10px;

    td {
      padding: 8px;
      font-weight: bold;

      &:last-of-type {
        text-align: end;
      }
    }
  }

  tbody {
    height: 100px !important;
    max-height: 100px !important;
    overflow-y: auto;

    td {
      padding: 8px;
      border-bottom: 1px solid gray;

      &:last-of-type {
        text-align: end;
      }
    }
  }
}*/
