<div oncontextmenu="return false">
  <mat-toolbar color="primary">
    {{ data.title }}
    <span class="flex-spacer"></span>
    <button mat-raised-button mat-dialog-close color="primary">&times;</button>
  </mat-toolbar>
  <div mat-dialog-content class="content">
    <sales-empl *ngIf="data.empl" [employes]="data.empl" (selectEmployed)="setEmployee($event)"></sales-empl>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button (click)="print()">Print</button>
    <button mat-raised-button (click)="close()">Close</button>
  </div>
</div>
