.content {
  font-size: 18px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  margin-left: -10px;
}

sales-shop, sales-empl {
  width: 100%;
}

.price {
  font-size: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

[mat-dialog-content] {
  flex-direction: column;
}

button[mat-raised-button] {
  //cursor: default !important;
}

.show {
  display: initial;
}

.hide {
  display: none;
}

[mat-dialog-actions] {
  justify-content: center;
}
