ag-grid-angular /deep/ .customHeaderLabel {
  /*Necessary to allow for text to grow vertically*/
  width: 100% !important;
  font-size: 14px !important;
}

ag-grid-angular /deep/ [col-id='total'] {
  & /deep/ .customHeaderLabel {
    display: flex;
    justify-content: flex-end;
  }
}

ag-grid-angular /deep/ * {
  cursor: none !important;
}
