<div #init fxLayout="row" class="container" fxLayoutAlign="space-between">
  <div id="right" fxFlex.lt-lg="54" fxFlex.md="60" fxFlex.lg="64" fxFlex.xl="70" fxLayout="column" fxLayoutAlign="space-between">
    <div id="logo" fxLayoutAlign="center center" fxFlex="55" class="border" >
        <img src="{{env.myVarForImageURLS + 'supermarket.jpg'}}" fxFlex="100" alt="Logo"/>
    </div>
    <div fxLayoutAlign="center center" fxFlex="45" class="border" >
      <slide-announce [path]="env.myVarForImageURLS + pathAnnounces"></slide-announce>
    </div>
  </div>

  <div id="left" fxFlex.lt-lg="46" fxFlex.md="40" fxFlex.lg="35" fxFlex.xl="30" fxLayout="column" fxLayoutAlign="space-between" class="border">
    <div fxLayoutAlign="center center" class="border">
      <slide-promotions [path]="env.myVarForImageURLS + pathPromotions"></slide-promotions>
    </div>
    <div fxLayoutAlign="center" fxLayout="column" >
      <login fxLayout="column" fxFlex="100"></login>
    </div>
  </div>
</div>
