input {
  width: 280px;
  margin: 10px;
  padding: 0 10px;
  font-size: xx-large;
}

img {
  height: 50%;
}

slide-announce /deep/ a, slide-announce /deep/ .arrow-container {
  cursor: none !important;
}

slide-promotions /deep/ a, slide-promotions /deep/ .arrow-container {
  cursor: none !important;
}

.toolbox {
  & label {
    padding: 0 10px;
  }
}


