:host, div.column {
  flex-wrap: wrap;
}

.yellow {
  background-color: #fff05f;
  border-color: #b6a74a;
  color: black;
}

.green {
  background-color: #1fff9c;
  border-color: #1a9f57;
  color: black;
}

.red {
  background-color: #ed5f5f;
  border-color: #913939;
  color: white;
}

.blue {
  background-color: #2ae1ff;
  border-color: #22539f;
  color: black;
}

.two > button[mat-button] {
  height: 175px;
}

.two {
  justify-item: space-between;
}

.five > button[mat-button]:last-of-type {
  /*width: 200px !important;*/
  max-width: 205px !important;
}

.five > button[mat-button]:first-of-type {
  height: 175px;
}

/*button[mat-button].left:last-of-type{
  background-color: #ed5f5f;
  border-color: #913939;
  height: 170px;
}*/

/*button[mat-button]{
  flex: 1 1 100%;
}*/
