:host, div.column {
  flex-wrap: wrap;
}

.yellow {
  background-color: #fff05f;
  border-color: #b6a74a;
  color: black;
}

.green {
  background-color: #1fff9c;
  border-color: #1a9f57;
  color: black;
}

.red {
  background-color: #ed5f5f;
  border-color: #913939;
  color: white;
}

.blue {
  background-color: #2ae1ff;
  border-color: #22539f;
  color: black;
}

.violet {
  background-color: rgba(19, 34, 87, 0.71);
  border-color: rgba(13, 20, 40, 0.71);
  color: white;
}

.orange {
  background-color: lightsalmon;
  border-color: orange;
  color: white;
}

.two-layout > button[mat-button] {
  height: 175px;
}

.two-layout {
  justify-item: space-between;
}

.five-layout > button[mat-button]:last-of-type {
  max-width: 205px !important;
}

.five-layout > button[mat-button]:first-of-type {
  height: 175px;
}

.one {
  background-image: url('../../../../assets/money/one.PNG');
  background-size: cover;
}

.five {
  background-image: url('../../../../assets/money/five.PNG');
  background-size: cover;
}

.ten {
   background-image: url('../../../../assets/money/ten.PNG');
   background-size: cover;
}

.twenty {
  background-image: url('../../../../assets/money/twenty.PNG');
  background-size: cover;
}

.fifty {
  background-image: url('../../../../assets/money/fifty.PNG');
  background-size: cover;
}

.hundrey {
  background-image: url('../../../../assets/money/hundrey.PNG');
  background-size: cover;
}
