<div fxLayout="column" class="container">
  <div id="invoice-stock" class="border" fxFlex="100" fxLayout="row" >
    <!--<app-shopping-car #shoppingcar [product]="product" fxFlex="100" style="margin: 5px 0 5px 5px;">
    </app-shopping-car>-->
    <invoice fxFlex="58" [station]="initService.station" class="border container" fxLayout="column" style="padding: 5px;"></invoice>
    <div id="stock" fxFlex="42" class="border">
      <div fxFlex="100" fxLayoutAlign="start start" style="margin: 5px 0; overflow: auto;">
        <router-outlet ></router-outlet>
      </div>
    </div>
  </div>

  <operations class="border" fxFlex="380px" fxLayout="row"></operations>
</div>
