<div class="container" fxFlexLayout="column">
  <div fxLayout="row" class="header">
    <app-info-pos *ngIf="!showDigits" title="Cashier" [value]="cashier" fxFlex="50" class="title-header"></app-info-pos>
    <app-input-calculator *ngIf="showDigits" [data]="prodService.digits" fxFlex="50" class="title-header"></app-input-calculator>
    <app-info-pos title="Receipt Number" [value]="account" fxFlex="50" align="end" class="title-header"></app-info-pos>
  </div>
  <pos-products-table #productstable [products]="products"></pos-products-table>
  <div fxLayout="row" class="total">
    <app-info-pos title="Subtotal" [value]="subtotal" format="currency" fxFlex="25"></app-info-pos>
    <app-info-pos title="Tax" [value]="tax" format="currency" fxFlex="25"></app-info-pos>
    <app-info-pos title="Total" [value]="total" format="currency" fxFlex="50"></app-info-pos>
  </div>

</div>
