<operation-group fxFlex.lg="18" fxFlex.lt-lg="22" [operations]="financeOperations" [colors]="financeColor"
                 (evPressKeys)="financeKey($event)" [disable]="operationService.cashService.disabledFinOp">
</operation-group>

<div fxFlex.lg="40" fxFlex.lt-lg="53" class="border">
  <operation-group fxFlex="20" [operations]="invoiceOperations" [colors]="invoiceColor" (evPressKeys)="invoiceKey($event)"
                   [disable]="operationService.cashService.disabledInvOp"></operation-group>

  <numpad lastKey="@/FOR" (evPressKeys)="numpadKey($event)" [disableOp]="operationService.cashService.disabledInput"></numpad>

  <operation-group [operations]="totalsOperations" [colors]="totalColor" layout="two" (evPressKeys)="totalKey($event)"
                   [disable]="operationService.cashService.disabledTotalOp"></operation-group>
</div>

<div fxFlex.lg="40" fxFlex.lt-lg="25" class="border">
  <operation-group id="payment" fxFlex="22" [operations]="paymentOperations" [colors]="paymentColor" style="padding-left: 5px;"
                   (evPressKeys)="paymentKey($event)" [disable]="operationService.cashService.disabledPayment">
  </operation-group>

  <operation-group id="other" fxFlex="22" [operations]="otherOperations" [colors]="otherColor" style="padding-left: 5px;"
                   class="border" (evPressKeys)="otherKey($event)" [disable]="operationService.cashService.disabledFinOp">
  </operation-group>

  <operation-group id="money" [operations]="moneyOperations" [colors]="moneyColor" style="padding-left: 5px;" btnSize="130px"
                   class="border" (evPressKeys)="otherKey($event)" [disable]="operationService.cashService.disabledFinOp">
  </operation-group>
</div>
