<operation-group fxFlex.lg="18" fxFlex.lt-lg="22" [operations]="financeOperations" [colors]="financeColor"
                 class="border" (evPressKeys)="financeKey($event)" [disable]="operationService.cashService.disabledFinOp">
</operation-group>

<div fxFlex.lg="40" fxFlex.lt-lg="53" class="border">
  <operation-group fxFlex="20" [operations]="invoiceOperations" [colors]="invoiceColor" class="border"
                   (evPressKeys)="invoiceKey($event)" [disable]="operationService.cashService.disabledInvOp"></operation-group>

  <numpad lastKey="@/FOR" (evPressKeys)="numpadKey($event)" [disableOp]="operationService.cashService.disabledInput"></numpad>

  <operation-group [operations]="totalsOperations" [colors]="totalColor" layout="two" class="border"
                   (evPressKeys)="totalKey($event)" [disable]="operationService.cashService.disabledTotalOp"></operation-group>
</div>

<operation-group id="payment" fxFlex.lg="18" fxFlex.lt-lg="25" [operations]="paymentOperations" [colors]="paymentColor"
                 layout="two" class="border" (evPressKeys)="paymentKey($event)"
                 [disable]="operationService.cashService.disabledPayment" style="padding-left: 5px;">
</operation-group>

<operation-group id="other" fxFlex.lg="20" fxFlex.lt-lg="25" [operations]="otherOperations" [colors]="otherColor"
                 class="border" (evPressKeys)="otherKey($event)"
                 [disable]="operationService.cashService.disabledFinOp" style="padding-left: 5px;">
</operation-group>
