/*button[mat-button] {
  background-color: #ed5f5f;
  border-color: #913939;
  color: white;
}

button[mat-raised-button] {
  background-color: #9a61ff;
  color: white;
}
*/
mat-dialog-content div {
  display: flex;
  justify-content: space-between;
}

mat-form-field {
  width: 100%;
}

mat-dialog-content {
  max-height: 100%;
}

input {
  padding: 0 10px;
  font-size: xx-large;
}

button[mat-raised-button] {
  background-color: #9a61ff;
  color: white;
  cursor: default !important;
}
