<div fxLayout="row" class="container" fxLayoutAlign="space-between">
  <div id="right" fxFlex="65" fxLayout="column" fxLayoutAlign="space-between">
    <div id="logo" fxLayoutAlign="center center">
      <span>LOGO</span>
    </div>
    <div fxLayoutAlign="center center" class="anuncios">
      <span>ANUNCIOS</span>
    </div>
  </div>

  <div id="left" fxFlex="34" fxLayout="column" fxLayoutAlign="space-between">
    <div fxLayoutAlign="center center" class="promotions">
      <span>PROMOCIONES</span>
    </div>
    <div fxLayoutAlign="center" fxLayout="column" class="keyboard">
      <input type="password" id="password" [(value)]="input">
      <app-generic-keyboard (evKeys)="getKeys($event)"></app-generic-keyboard>
    </div>
  </div>
</div>
