div[mat-dialog-content] {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.financial-layout {
    display: flex;
    flex-direction: row;
}

.financial-group {
    border-radius: 10px;
    border: 1px solid gray;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    flex-direction: column;
    padding: 5px 20px;

    .financial-item {
        width: 100%;
        margin: 5px 10px;
        display: flex;
        justify-content: space-between;
    }

    .financial-item.bold {
        font-weight: bolder;
    }
}