<mat-toolbar color="primary">
  Age verification
  <span class="flex-spacer"></span>
  <button mat-raised-button mat-dialog-close>&times;</button>
</mat-toolbar>

<form #ageForm="ngForm">
  <mat-dialog-content>
    <p fxLayoutAlign="space-between">
      <mat-form-field>
        <input matInput
         type="text"
         [(ngModel)]="data"
         name="ageInput"
         #ageInput="ngModel"
         required/>
        <mat-error *ngIf="!ageInput.valid && ageInput.touched">Date is required</mat-error>
      </mat-form-field>
    </p>
    <!-- <mat-error *ngIf="!valid && tryValidation">Date is invalid</mat-error> -->
  </mat-dialog-content>
  <generic-keyboard (evKeys)="getKeys($event)" ></generic-keyboard>
</form>
