button[mat-raised-button] {
  height: 90%;
  font-size: 46px;
  background-color: #9a61ff;
  color: white;
}

button[mat-button] {
  background-color: #ed5f5f;
  border-color: #913939;
  color: white;
}
