<mat-toolbar color="primary">
  Age verification
  <span class="flex-spacer"></span>
  <button mat-raised-button mat-dialog-close>&times;</button>
</mat-toolbar>

<form [formGroup]="ageForm">
  <mat-dialog-content>
    <p fxLayoutAlign="space-between">
      <mat-form-field>
        <input matInput
          type="text"
          id="dateInput"
          formControlName="dateInput"
          [(ngModel)]="data"
        />
        <mat-error *ngIf="!dateInput.valid">Date is invalid</mat-error>
      </mat-form-field>
      <mat-error *ngIf="!valid && tryValidation"><span class="fa fa-warning fa-lg"></span>Date is invalid</mat-error>
    </p>
  </mat-dialog-content>
  <generic-keyboard (evKeys)="getKeys($event)" [valid]="!valid"></generic-keyboard>
</form>
