:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

div.page {
  flex-wrap: wrap;
  margin-left: 10px;
}

.normal {
  background-color: #9a61ff;
  border-color: #5b4cab;
}

.generic {
  background-color: #ff9b3e;
  border-color: #ffac41;
}

pos-paginator {
  display: flex;
  align-items: center;

  button.dpto {
    width: 130px;
    height: 85px;
    background-color: #5b4cab;
  }
}
