<div class="page">
  <button mat-button fxFlex="130px" *ngFor="let i of prods | paginate: { itemsPerPage: sizePage, currentPage: page }"
        (click)="doAction(i)"
        [ngClass]="i.generic ? 'generic' : 'normal'">
    {{i.name | uppercase }}
  </button>
</div>
<div class="paginator">
  <pos-paginator [countElements]="prods.length" [sizePage]="sizePage" (evSetPage)="setPage($event)">
    <button class="dpto" mat-button [routerLink]="['/cash/dptos']"> << DPTOS </button>
  </pos-paginator>
</div>
