th {
  color: black;
  font-weight: bold;
  width: 12%;
  background-color: #eeeeee;
}

:host {
  /*margin: 5px;*/
  width: 100%;
  height: 240px;
}

table {
  width: 100%;/*
  height: 240px;*/
}

.grow {
  height: 400px;
}

.table__container {
  overflow: auto;
}

mat-icon {
  color: #2e3c56;
}

[mat-column-description], .mat-column-description {
  width: 40%;
}
[mat-column-upc], .mat-column-upc {
  width: 20%;
}

th, td {
  font-size: 16px;
}

