@import "~src/variable";

/*[mat-dialog-content] button {
  @include red;
}*/
[mat-dialog-content] button /deep/ span {
  font-size: 16px;
  font-weight: normal;
}
[mat-dialog-content] button /deep/ span p {
  font-size: 20px;
  margin: 5px 0;
}
[mat-dialog-content] /deep/ div.buttons {
  flex-wrap: wrap;
  overflow: auto;
  max-height: 275px;
}

/*button[mat-raised-button] {
  cursor: default !important;
}*/

.yellow {
  @include yellow;
}

.green {
  @include green;
}

.red {
  @include red;
}

.blue {
  @include blue;
}
