@import "~src/variable";

button {
  height: 120px;

  & /deep/ span {
     font-size: 16px;
     font-weight: normal;
     p {
       font-size: 20px;
       margin: 5px 0;
     }
  }
}

.red {
  @include red;
}

.yellow {
  @include yellow;
}

.green {
  @include green;
}

.break-all {
  word-break: break-all;
}

.break-word {
  word-wrap: break-word;
}
