<button mat-button fxFlex="170px" [mat-dialog-close]="i" [ngClass]="setColor(i.type)"
    *ngFor="let i of data.invoice | paginate: { itemsPerPage: sizePage, currentPage: page }">
  <span *ngIf="data.label" [ngClass]="breakText">
    {{i[data.label].substring(0, lengthText)}}
  </span>
  <p *ngIf="data.detail && (currencyProps.includes(data.detail))">{{i[data.detail] | currency }}</p>
  <p *ngIf="data.detail && (!currencyProps.includes(data.detail))" [ngClass]="breakText">
    {{i[data.detail].substring(0, lengthText)}}
  </p>
  <span *ngIf="data.subdetail && (currencyProps.includes(data.subdetail))">{{i[data.subdetail] | currency }}</span>
  <span *ngIf="data.subdetail && (!currencyProps.includes(data.subdetail))">{{i[data.subdetail]}}</span>
</button>
